<h1>LOOKING FOR WORK</h1>
<div class = "robotShow">
<div class = "rPic">
<img src = {{avatar}}>
</div>

<div class = "rInfo">
<div class = "location">
<h3> {{name}} </h3>
<p> Looking for work</p>
<p> {{email}}</p>
{{#address}}
<p>{{city}}, {{country}}</p>
{{/address}}
</div class = "stats">
<p> Education: {{university}} </p>
<p> Skills: {{skills}}</p>
</div>
</div>

</div>
