<h1> MISSING DATA </h1>

<div class = "robotShow">
<div class = "rPic">
<img src = {{avatar}}>
</div>

<div class = "rInfo">
<div class = "location">
<h3> {{name}} </h3>
<p> {{job}}</p>
<p> {{email}}</p>

<p> Skills: {{skills}}</p>
</div>
</div>

</div>
